@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(255, 200, 163);
}

.hide {
  display: none;
}

.cookie-nav {
  background-image: url(https://previews.123rf.com/images/ericlefrancais/ericlefrancais1008/ericlefrancais100800007/7549999-chocolate-chips-cookies-wallpaper-background.jpg);
}