@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(http://d3thpuk46eyjbu.cloudfront.net/uploads/production/1037/1549935008/original/cookie.jpg);
}

.hide {
  display: none;
}

.cookie-nav {
  background-image: url(https://previews.123rf.com/images/ericlefrancais/ericlefrancais1008/ericlefrancais100800007/7549999-chocolate-chips-cookies-wallpaper-background.jpg);
}